<div class="container">
  <div  class="row" ng-controller="CarouselDemoCtrl">
    <div style="height:250px;">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active"> <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div ng-controller="mainController" class="container">
    <div class="row">
      <!--  Products Container  -->
      <p class="text-muted"> The products are displayed here by fetching the data from JSON file</p>
      <div class="list-group">
        <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in products">
          <div>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></div>
          <p> {{product.description}}</p>
          <!-- Image Gallery  -->
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" style="height:280px; width:300px;"> <img ng-src="{{image}}" /> </li>
          </ul>
          <!-- Product Tabs  -->
          <!--        <product-tabs></product-tabs>
-->
        </div>
      </div>
    </div>
  </div>
</div>
